body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right,red,orange,yellow,green,lightblue,blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background: linear-gradient(to right,red,orange,yellow,green,lightblue,blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    color: chartreuse;
    text-decoration: none;
    text-shadow: 5px 5px 2px blue;
    transition: 5s;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 300ms;
}

a:active {
    color: pink;
    background-color: green;
}